/*
 * File: app/static/css/style.css
 * Author: iHub-2020
 * Date: 2026-01-13
 * Version: 1.0.0
 * Description: Custom styles
 */

/* 调整输入框在深色背景下的显示 */
.form-control:focus, .form-select:focus {
    background-color: #495057;
    color: #fff;
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* 调整详情折叠的样式 */
details > summary {
    list-style: none;
    outline: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
.cursor-pointer {
    cursor: pointer;
}

/* 底部栏留白 */
body {
    padding-bottom: 80px;

}
